@using System.Globalization;
@page "/budget"
@inject NavigationManager NavManager
@inject BudgetViewModel budget
@inject SalaryUpdateViewModel SalaryUpdateViewModel
@inject IBudgetSettingsService BudgetSettingsService
@inject ApplicationState ApplicationState
@inject MonthlyBudgetViewModel MonthlyBudgetViewModel
@inject BudgetLineItemViewModel BudgetLineItemViewModel
@* @attribute [Authorize] *@

<PageTitle>Budget</PageTitle>

<div class="fluid-container">
        <LoginDisplay></LoginDisplay>
        <div class="content area">
            <Header></Header>
            <h2 class="font bold white-heading">Summary</h2>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3 p-3">
                    <RadzenCard>
                        <h4 class="mb-4">Years</h4>
                        <RadzenDropDown AllowClear="true" Class="w-100" 
                                        Data=@MonthlyBudgetViewModel.years TValue="int" Change="@MonthlyBudgetViewModel.ReloadBudgetForSelectedYear" @bind-Value="@MonthlyBudgetViewModel.selectedYear"/>
                    </RadzenCard>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3 p-3">
                    <RadzenCard>
                        <h4 class="mb-4">Months</h4>
                        <RadzenDropDown AllowClear="true" Class="w-100" 
                                        Data=@MonthlyBudgetViewModel.months TValue="MonthModel" TextProperty="MonthName" Change="@MonthlyBudgetViewModel.ReloadBudgetForSelectedMonth" @bind-Value="@MonthlyBudgetViewModel.selectedMonth"/>
                    </RadzenCard>
                </div>
                <div class="col-md-64 col-lg-4 col-xl-3 p-3">
                    <RadzenButton class="col-xl-1 btn-primary" Click="EditMonthlyBudget" Text="Edit budget" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-4">
                    <RadzenCard class="m-3 crd-primary">
                        @* There's a null error on below line despite value coming back *@
                        <h3 class="font bold white-heading">£@MonthlyBudgetViewModel.monthlyBudgetModel.Income</h3>
                        <p class="font white-heading">This months income</p>
                    </RadzenCard>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <RadzenCard class="m-3 crd-primary ">
                        <h3 class="font bold white-heading">£@MonthlyBudgetViewModel.monthlyBudgetModel.Outgoing</h3>
                        <p class="font white-heading">This months budget spend</p>
                    </RadzenCard>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <RadzenCard class="m-3 crd-primary ">
                        <h3 class="font bold white-heading">£@MonthlyBudgetViewModel.monthlyBudgetModel.Remaining</h3>
                        <p class="font white-heading">Remaining this month</p>
                    </RadzenCard>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-4 my-5 crd-primary">
                    <RadzenChart>
                        <RadzenPieSeries Data="@budget.CostPerCategory" Title="Revenue" CategoryProperty="Key" ValueProperty="Value" />
                    </RadzenChart>
                </div>
            </div>
                <div class="row">
                    <h2 class="font bold white-heading col-xl-3">Salary items</h2>
                    <RadzenButton class="col-xl-1 btn-primary" Click="AddNewSalaryItem" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                </div>
                <div class="col-sm-12 my-5 crd-primary">
                    <RadzenChart>
                        <RadzenLineSeries Smooth="true" Data="@SalaryUpdateViewModel.salaryUpdateItems" CategoryProperty="Date" Title="Salary" ValueProperty="Amount">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                        <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                        <RadzenValueAxis Formatter="@FormatAsGBP">
                            <RadzenGridLines Visible="true" />
                            <RadzenAxisTitle Text="Revenue in GBP" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </div>
            </div>
            <div class="row">
                <h2 class="font bold white-heading col-xl-3">Budget line items</h2>
                <RadzenButton class="col-xl-1 btn-primary" Click="AddNewBudgetItem" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                <RadzenButton class="col-xl-1 btn-primary" Click="EditBudgetSettings" Text="Edit budget settings" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
            </div>
            <div class="row">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@budget.budgetLineItems" TItem="BudgetLineItemModel" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="BudgetLineName" Filterable="false" Title="Line Item Name" Width="70px" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="Cost" Title="Cost" Width="140px"  />
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="Category.Name" Title="Category" Width="140px" />
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="PaymentMethod.Name" Title="Payment Method" Width="140px"/>
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="ContractEndDate" Title="Contract End Date" Width="200px" />
                        <RadzenDataGridColumn TItem="BudgetLineItemModel" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="100px">
                            <Template Context="budgetLineItem">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(() => EditBudgetLineItem(budgetLineItem))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    @* </div> *@
@* </div> *@


@code {
    
    string FormatAsGBP(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-GB"));
    }

    protected override async Task OnInitializedAsync() {
        
        await Task.WhenAll(
            MonthlyBudgetViewModel.SetupLatestMonthlyBudgetForUser(),
            budget.GetBudgetLineItems(),
            SalaryUpdateViewModel.GetSalaryUpdateItems(),
            budget.GetBudgetSettingsForUser()
        );
    }

    public void AddNewBudgetItem() {

        BudgetLineItemViewModel.bliModel = null;
        NavManager.NavigateTo("/newbudgetlineitem");
    }

    public void AddNewSalaryItem() {
        NavManager.NavigateTo("/salaryupdate");
    }

    public void EditBudgetSettings() {
        NavManager.NavigateTo("/budget-settings");
    }

    public void EditMonthlyBudget() {
        NavManager.NavigateTo("/editmonthlybudget");
    }

    public void EditBudgetLineItem(BudgetLineItemModel budgetLineItemToEdit) {

        BudgetLineItemViewModel.bliModel = budgetLineItemToEdit;
        NavManager.NavigateTo("/newbudgetlineitem");
    }
}
